// All colors for components - form, table exclusivly set in components
$background-shade: $light-grey;

$components: (

  comp-style: (
    border:             $lightest-grey,
    border-h:           $dark-grey,
    background:         $white-color,
    background-shade:   $background-shade,
    background-t:       transparent,
  ),
);
