//------------------------------------------------------------------------------
// Media Query
//------------------------------------------------------------------------------
.field.row-2{
	@include breakpoint(small){
		@include span(12);
	}
	@include breakpoint(medium){
		@include span(6);
	}
	@include breakpoint(large){
		@include span(6);
	}
}

//------------------------------------------------------------------------------
// Extend
//------------------------------------------------------------------------------
%form-common{
	border: 1px solid;
}

//------------------------------------------------------------------------------
// Form - inputs, textarea and submit
//------------------------------------------------------------------------------

input[type="text"], input[type="email"], input[type="password"], textarea {
	@extend %form-common;
	width: 90%;
	margin-top: 10px;
	padding: .5em 1em;
	line-height: 1.75;
	border-radius: .35em;
	border-color: components(comp-style, border);
	&:focus{
		outline:none;
	}
}

input[type="text"] {
	height: 35px;
}
//------------------------------------------------------------------------------
// Textarea
//------------------------------------------------------------------------------

textarea {
	min-height: 180px;
	background-color: components(comp-style, background-shade);
	&:focus{
		outline:none;
		transition:  all .6s ease;
		background-color: components(comp-style, background);
	}
}

//------------------------------------------------------------------------------
// Submit
//------------------------------------------------------------------------------
input[type="submit"] {
	@extend %form-common;
	outline: none;
	font-size: 1.1em;
	margin-left: .5em;
	padding: .5em 1.5em;
	border-radius: .2em;
	background: components(comp-style, background-t);
	border-color: components(comp-style, border);
	&:hover {
		@extend %form-common;
		border-color: components(comp-style, border-h);
		transition:  all .6s ease;

		//color: #33acb7;
	}
}
