//------------------------------------------------------------------------------
// sign in
//------------------------------------------------------------------------------
//NOTE span 9 is for edit registration.
.sign-in-wrapper{
  padding: 0 2rem;
  @include span(9);
  @include breakpoint(large){
    padding: 0 20rem;
  }
  @include breakpoint(medium){
    padding: 0 10rem;
  }
}

//------------------------------------------------------------------------------
// pages welcome
//------------------------------------------------------------------------------

.hero{
  height: $hero-height-xl;
  @extend %flex-center-item;
}

.welcome-header {
  background-image: image-url('/assets/ny.jpg');
  @extend .hero-commons;
}

.article-show {
  background-image: image-url('/assets/hoff.jpg');
  @extend .hero-commons;
}
.box {
  @include vertical-rhythm(5.2rem, $use-height: true);
  background-color: blue;
  width: 200px;
}
//------------------------------------------------------------------------------
// pages about
//------------------------------------------------------------------------------

/* code for gallery show */

//------------------------------------------------------------------------------
// article index
//------------------------------------------------------------------------------

/* code for article index */

//------------------------------------------------------------------------------
// article show
//------------------------------------------------------------------------------

/* code for article show */

//------------------------------------------------------------------------------
// gallery index
//------------------------------------------------------------------------------

/* code for gallery index */

//------------------------------------------------------------------------------
// gallery show
//------------------------------------------------------------------------------

/* code for gallery show */

//------------------------------------------------------------------------------
// media index
//------------------------------------------------------------------------------

/* code for gallery index */

//------------------------------------------------------------------------------
// media show
//------------------------------------------------------------------------------

/* code for gallery show */

//------------------------------------------------------------------------------
// blog index
//------------------------------------------------------------------------------

/* code for gallery index */

//------------------------------------------------------------------------------
// blog show
//------------------------------------------------------------------------------

/* code for gallery show */
