<aside class="admin">
  <h2>admin</h2>
    <ul>
      <!--Start Nav Buttons-->

      <!--Home-->
      <li>
        <i class="material-icons md-18">home</i>
        <%= link_to "dashboard", admin_path %>
      </li>
      <!--End Nav Buttons-->
      <li>
        <%= link_to "edit profile", edit_admin_user_registration_path %>
      </li>
      <!--End Edit Profile-->
    </ul>
</aside>
